## 7.1 값을 여러 개 출력하기

In [1]:
print(1, 2, 3)

1 2 3

In [2]:
print('Hello', 'Python')

Hello Python

In [3]:
print(1, 2, 3, sep =', ') # sep 에 콤마와 공백을 지정

1, 2, 3

In [4]:
print(4, 5, 6, sep=',') # sep에 콤마만 지정

4,5,6

In [5]:
print('Hello', 'Python', sep = '') # sep에 빈 문자열을 지정

HelloPython

In [6]:
print(1920, 1000, sep ='x') # sep에 x를 지정

1920x1000

## 7.2 줄바꿈 활용하기

In [7]:
print(1, 2, 3)

1 2 3

In [13]:
print("11 2312312", 2, 3, sep='\n')

11 2312312
2
3

In [14]:
print(1)
print(2)
print(3)

1
2
3

In [15]:
print(1, end='') # end에 빈 문자열을 지정하면 다음 번 출력이 바로 뒤에 오게 됨
print(2, end='')
print(3)

123

In [18]:
print(3.1, 'Python', 100)

3.1 Python 100

In [21]:
print(16, 9, sep=':')

16:9

In [26]:
year = 2000
month = 10
day = 27
hour = 11
minute = 43
second = 59

print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':')

2000/10/27 11:43:59

In [ ]:
print(year, month, day, sep='-', end='T')

## Q&A

In [27]:
import numpy as np

In [28]:
a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
b = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [29]:
a @ b

array([[ 30,  36,  42],
       [ 66,  81,  96],
       [102, 126, 150]])