In [1]:
a = 10
b= 20

## 10.1 리스트 만들기

In [3]:
a = [38, 21, 53, 62, 19]
a

[38, 21, 53, 62, 19]

## 10.1.1 리스트에 여러가지 자료형 저장하기

In [4]:
person = ['james', 17, 175.3, True]
person

['james', 17, 175.3, True]

In [5]:
a = []
a

[]

In [7]:
b= list()
b

[]

## 10.1.3 range를 사용하여 리스트 만들기

In [8]:
range(10)

range(0, 10)

In [10]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
b = list(range(5,12))
b

[5, 6, 7, 8, 9, 10, 11]

In [12]:
c = list(range(-4, 10, 2))
c

[-4, -2, 0, 2, 4, 6, 8]

In [14]:
d = list(range(10, 0, -1))
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 10.2 튜플 사용하기

In [15]:
a = (38, 21, 53, 62, 19)
a

(38, 21, 53, 62, 19)

In [16]:
person = ('james', 17, 175.3, True)
person

('james', 17, 175.3, True)

In [17]:
(38)

38

In [18]:
(38, )

(38,)

In [19]:
38,

(38,)

## 10.2.2 range를 사용하여 튜플 만들기

In [21]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [22]:
b = tuple(range(5,12))
b

(5, 6, 7, 8, 9, 10, 11)

In [24]:
c = tuple(range(-4, 10, 2))
c

(-4, -2, 0, 2, 4, 6, 8)

## 10.2.3 튜플을 리스트로 만들고 리스트를 튜플로 만들기

In [25]:
a = [1, 2, 3]
tuple(a)

(1, 2, 3)

In [26]:
b = (4, 5, 6)
list(b)

[4, 5, 6]

In [27]:
list('Hello')

['H', 'e', 'l', 'l', 'o']

In [28]:
range(5, -10, -2)

range(5, -10, -2)

In [29]:
a= list(range(5, -10, -2))
a

[5, 3, 1, -1, -3, -5, -7, -9]

In [32]:
a = input()
a = int(a)
tuple(range(-10,10,a))

2

(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

In [31]:
type(a)

int