## 20-1 ë“¤ì–´ê°€ë©°

### íŒŒì´ì¬ê³¼ ë°ì´í„°ë² ì´ìŠ¤ê°€ ë§Œë‚œë‹¤ë©´?
___

## 20-2 íŒŒì´ì¬ìœ¼ë¡œ DB ë‹¤ë£¨ê¸°
___
### SQLite
___
SQLiteëŠ” ì„œë²„ì˜ í•„ìš” ì—†ì´ DBì˜ íŒŒì¼ã…‡ ê¸°ì´ˆí•˜ì—¬ DB ì²˜ë¦¬ë¥¼ êµ¬í˜„í•œ ì„ë² ë””ë“œ SQL DB ì—”ì§„ì…ë‹ˆë‹¤. 
  
   
   
### íŒŒì´ì¬ê³¼ DB
___
  
  
  
  
  
  
Python DB API

In [1]:
import sqlite3
print("ë¿…ğŸ’›")

ë¿…ğŸ’›

In [2]:
import os
db_path = os.getenv('HOME')+'/aiffel/sql_to_db/sqlite/mydb.db'
conn = sqlite3.connect(db_path)  # mydb.dbì— ì—°ê²°í•©ë‹ˆë‹¤.
print(conn)

<sqlite3.Connection object at 0x7f332c629d50>

In [3]:
c = conn.cursor()
print(c)

<sqlite3.Cursor object at 0x7f3329573730>

In [4]:
# stocksì´ë¼ëŠ” ì´ë¦„ì˜ í…Œì´ë¸”ì„ í•˜ë‚˜ ìƒì„±í•©ë‹ˆë‹¤. í˜¹ì‹œ ì´ë¯¸ ìƒì„±ë˜ì—ˆë‹¤ë©´ ìƒëµí•©ë‹ˆë‹¤. 
c.execute("CREATE TABLE  IF NOT EXISTS  stocks (date text, trans text, symbol text, qty real, price real)")

# stocks í…Œì´ë¸”ì— ë°ì´í„°ë¥¼ í•˜ë‚˜ ì¸ì„œíŠ¸í•©ë‹ˆë‹¤. 
c.execute("INSERT INTO stocks VALUES ('20200701', 'TEST', 'AIFFEL', 1, 10000)")

# ë°©ê¸ˆ ì¸ì„œíŠ¸í•œ ë°ì´í„°ë¥¼ ì¡°íšŒí•´ ë´…ë‹ˆë‹¤.
c.execute("SELECT * FROM stocks")

# ì¡°íšŒëœ ë‚´ì—­ì„ ì»¤ì„œë¥¼ í†µí•´ ê°€ì ¸ì™€ ì¶œë ¥í•´ ë´…ë‹ˆë‹¤.
print(c.fetchone())

('20200701', 'TEST', 'AIFFEL', 1.0, 10000.0)

In [5]:
conn.commit() # commit()ì€ cursorì˜ ë©”ì†Œë“œê°€ ì•„ë‹ˆë¼ connectionì˜ ë©”ì†Œë“œì…ë‹ˆë‹¤.
print("ë¿…ğŸ’›")

ë¿…ğŸ’›

In [ ]:
c.close() # ë¨¼ì € ì»¤ì„œë¥¼ ë‹«ì€ í›„
conn.close()
print("ë¿…ğŸ’›")

### DDLë¬¸ìœ¼ë¡œ í…Œì´ë¸” ìƒì„±í•˜ê¸°
___

In [ ]:
import sqlite3
import os
db_path = os.getenv('HOME')+'/aiffel/sql_to_db/sqlite/mydb.db'

conn = sqlite3.connet(db_path)
c = conn.cursor()

#-! ì¬ì‹¤í–‰ ì‹œ í…Œì´ë¸”ì´ ì¡´ì¬í•  ìˆ˜ ìˆìœ¼ë¯€ë¡œ ì•„ë˜ì²˜ëŸ¼ í•´ë‹¹ í…Œì´ë¸”ë“¤ì„ ëª¨ë‘ ì§€ì›ë‹ˆë‹¤.
c.execute("DROP TABLE IF EXISTS ë„ì„œëŒ€ì¶œë‚´ì—­")
c.execute("DROP TABLE IF EXISTS ë„ì„œëŒ€ì¶œë‚´ì—­2")
c.execute("DROP TABLE IF EXISTS ëŒ€ì¶œë‚´ì—­")
c.execute("DROP TABLE IF EXISTS ë„ì„œëª…")


#--- 1st table: ë„ì„œëŒ€ì¶œë‚´ì—­ ---#
c.execute("CREATE TABLE IF NOT EXISTS ë„ì„œëŒ€ì¶œë‚´ì—­ (ID varchar, ì´ë¦„ varchar, ë„ì„œID varchar, ëŒ€ì¶œì¼ varchar, ë°˜ë‚©ì¼ varchar)")
#- ìƒì„±(create)ë¬¸: í…Œì´ë¸”ëª…, ë³€ìˆ˜ëª…, ë³€ìˆ˜íƒ€ì…ì„ ì§€ì •

data = [('101','ë¬¸ê°•íƒœ','aaa','2020-06-01','2020-06-05'),
             ('101','ë¬¸ê°•íƒœ','ccc','2020-06-20','2020-06-25'),
             ('102','ê³ ë¬¸ì˜','bbb','2020-06-01',None),
             ('102','ê³ ë¬¸ì˜','ddd','2020-06-08',None),
             ('103','ë¬¸ìƒíƒœ','ccc','2020-06-01','2020-06-05'),
             ('104','ê°•ê¸°ë‘¥',None,None,None)]
#- ì…ë ¥í•  ë°ì´í„°ë¥¼ ê·¸ëŒ€ë¡œ ì…ë ¥(ë³€ìˆ˜ëª… ìˆœì„œ ê¸°ì¤€ëŒ€ë¡œ)

c.executemany('INSERT INTO ë„ì„œëŒ€ì¶œë‚´ì—­ VALUES (?,?,?,?,?)', data)
#- ì…ë ¥í•  ë°ì´í„°ë¥¼ ì‹¤ì œ í…Œì´ë¸”ì— insertí•˜ê¸°
#-----------------------------------------------#


#----- 2nd table : ë„ì„œëŒ€ì¶œë‚´ì—­2 -----#
c.execute("CREATE TABLE IF NOT EXISTS ë„ì„œëŒ€ì¶œë‚´ì—­2 (ID varchar, ì´ë¦„ varchar, ëŒ€ì¶œë…„ì›” varchar, ëŒ€ì¶œì¼ìˆ˜ varchar)")

data = [('101','ë¬¸ê°•íƒœ','2020-06','20ì¼'),
             ('102','ê³ ë¬¸ì˜','2020-06','10ì¼'),
             ('103','ë¬¸ìƒíƒœ','2020-06','8ì¼'),
             ('104','ê°•ê¸°ë‘¥','2020-06','3ì¼')]
c.executemany('INSERT INTO ë„ì„œëŒ€ì¶œë‚´ì—­2 VALUES (?,?,?,?)', data)
#--------------------------------------------------#


#----- 3rd table : ëŒ€ì¶œë‚´ì—­ -----#
c.execute("CREATE TABLE IF NOT EXISTS ëŒ€ì¶œë‚´ì—­ (ID varchar, ì´ë¦„ varchar, ë„ì„œID varchar)")

data = [('101','ë¬¸ê°•íƒœ','aaa'),
             ('102','ê³ ë¬¸ì˜','bbb'),
             ('102','ê³ ë¬¸ì˜','fff'),
             ('103','ë¬¸ìƒíƒœ','ccc'),
             ('104','ê°•ê¸°ë‘¥',None)]
c.executemany('INSERT INTO ëŒ€ì¶œë‚´ì—­ VALUES (?,?,?)', data)
#-----------------------------------------#


#----- 4th table : ë„ì„œëª… -----#
c.execute("CREATE TABLE IF NOT EXISTS ë„ì„œëª… (ë„ì„œID varchar, ë„ì„œëª… varchar)")

data = [('aaa','ì•…ëª½ì„ ë¨¹ê³  ìë€ ì†Œë…„'),
             ('bbb','ì¢€ë¹„ì•„ì´'),
             ('ccc','ê³µë£¡ë°±ê³¼ì‚¬ì „'),
             ('ddd','ë¹¨ê°„êµ¬ë‘'),
             ('eee','ì ìëŠ” ìˆ²ì†ì˜ ë¯¸ë…€')]

c.executemany('INSERT INTO ë„ì„œëª… VALUES (?,?)', data)
#--------------------------------------#

conn.commit()
conn.close()
print("ë¿…ğŸ’›")

In [ ]:
conn = sqlite3.connect(db_path)
c = conn.cursor()

for row in c.execute('SELECT * FROM ë„ì„œëª…'):
  print(row)

## 20-3 SQL (1) SQLì˜ ê¸°ë³¸

SQLì˜ ê¸°ë³¸
___
- select ~ :ì¡°íšŒí•  ì»¬ëŸ¼ëª…ì„ ì„ íƒ
- from ~ : ì¡°íšŒí•  í…Œì´ë¸”ëª…ì„ ì§€ì •(ìœ„ì¹˜ì™€ í…Œì´ë¸”ëª…ì„ ì…ë ¥)
- where ~ : ì§ˆì˜í•  ë•Œ í•„ìš”í•œ ì¡°ê±´ì„ ì„¤ì •
- group by ~ : íŠ¹ì • ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ê·¸ë£¹ì„ ì§€ì–´ ì¶œë ¥
- order by ~ : select ë‹¤ìŒì— ì˜¤ëŠ” ì»¬ëŸ¼ ì¤‘ ì •ë ¬ì´ í•„ìš”í•œ ë¶€ë¶„ì„ ì •ë ¬(ê¸°ë³¸ ì„¤ì •: ì˜¤ë¦„ì°¨ìˆœ)
- limit ìˆ«ì : Display í•˜ê³ ì í•˜ëŠ” í–‰ì˜ ìˆ˜ë¥¼ ì„¤ì •

In [ ]:
#-ì°¸ê³  : ì‹¤ì œ ì¡°íšŒë¥¼ í•´ë³´ì‹œë ¤ë©´ ì•„ë˜ì²˜ëŸ¼ ì“°ì‹œë©´ ë©ë‹ˆë‹¤.
#- c.execute() ê´„í˜¸ ì•ˆì— SQLë¬¸ì„ ë„£ìœ¼ì‹œë©´ ë©ë‹ˆë‹¤.

import os
db_path = os.getenv('HOME')+'/aiffel/sql_to_db/sqlite/mydb.db'
conn = sqlite3.connect(db_path) # mydb.db ì— ì—°ê²°í•©ë‹ˆë‹¤.
c = conn.cursor()

for row in c.execute('SELECT*FROM ë„ì„œëŒ€ì¶œë‚´ì—­'):
    print(row)
#-! ì¶œë ¥ì‹œ 'NULL' ëŒ€ì‹  'None'ìœ¼ë¡œ ì¶œë ¥ë  ìˆ˜ ìˆìœ¼ë‚˜ ë™ì¼í•˜ê²Œ ì´í•´í•˜ì‹œë©´ ë©ë‹ˆë‹¤.

In [7]:
c.execute(select ID from ë„ì„œëŒ€ì¶œë‚´ì—­)

SyntaxError: invalid syntax (<ipython-input-7-1b69c7b285f2>, line 1)

## 20-4 SQL (2) Data Type

In [8]:
import os
db_path = os.getenv('HOME')+'/aiffel/sql_to_db/sqlite/mydb.db'
conn = sqlite3.connect(db_path) #mydb.dbì— ì—°ê²°í•©ë‹ˆë‹¤
c = conn.cursor()

for row in c.execute('pragma table_info(ë„ì„œëŒ€ì¶œë‚´ì—­2)'):
    print(row)

(0, 'ID', 'varchar', 0, None, 0)
(1, 'ì´ë¦„', 'varchar', 0, None, 0)
(2, 'ëŒ€ì¶œë…„ì›”', 'varchar', 0, None, 0)
(3, 'ëŒ€ì¶œì¼ìˆ˜', 'varchar', 0, None, 0)

In [ ]:
SELECT ID, ì´ë¦„, ëŒ€ì¶œë…„ì›”